.search-container {
    margin: 0 2rem;
    max-width: 330px;
}

.current-location {
    color: #eb096d;
    padding: 14px;
    height: 56px;
    width: 100%;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
