.map-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: end;
}

.leaflet-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.search-panel {
    z-index: 999;
    padding: 2.5rem 0;
    width: 100%;
    height: 35%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(
        135deg,
        rgba(92, 45, 145, 1) 26%,
        rgba(89, 92, 167, 1) 100%
    );
}

.search-button {
    width: 220px;
    height: 50px;
    border-radius: 999px;
    color: white;
    background-color: #eb096d;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    font-family: inherit;
    margin: 2rem auto;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    display: flex;
    align-items: center;
}
